*{
    margin: 0;
    padding: 0;
}

.img-principal h1{
    position: absolute;
    top: 35%;
    left: 51%;
    letter-spacing: 6px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: 'Fraunces', 'serif';
    text-align: center;
    color: white;
}

.img-principal svg{
    position: absolute;
    align-items: center;
    left: 49%;
    top: 49.5%;
}

header .nav-list{
 position: absolute;
 top: 5%;
 left: 65%;
}

header ul{
    display: flex;
    list-style: none;
}

header li{
    margin: 0px 45px 0px 0px;
    color: white;
    font-family: 'Barlow', 'sans-serif';
    font-size: 16px;
}

header svg{
    position: absolute;
    top: 4%;
    right: 270%;
}

header button{
    height: 40px;
    width: 100px;
    border: none;
    background-color: white;
    border-radius: 20px;
    font-family: 'Fraunces', 'sans-serif';
    font-weight: bold;
    margin-top: -10px;
}

.inicio h2{
    font-size: 37px;
    font-family: 'Fraunces', 'serif';
    position: absolute;
    top: 143%;
    left: 11.5%;
}

.inicio p{
    font-size: 16px;
    position: absolute;
    top: 162%;
    left: 11.5%;
    color: hsl(213, 9%, 39%);
    font-family: 'Barlow', 'sans-serif';
    line-height: 30px;
}

.inicio h4{
    font-size: 14px;
    position: absolute;
    top: 183%;
    left: 11.5%;
    font-family: 'Fraunces', 'serif';
}

.ovo-gigante{
    position: absolute;
    left: 50%;
    top: 116.3%;
}