*{
    margin: 0;
    padding: 0;
}

.img-principal h1{
    position: absolute;
    top: 35%;
    left: 51%;
    letter-spacing: 6px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-family: 'Fraunces', 'serif';
    text-align: center;
    color: white;
}

.img-principal svg{
    position: absolute;
    align-items: center;
    left: 49%;
    top: 49.5%;
}

header .nav-list{
 position: absolute;
 top: 5%;
 left: 65%;
}

header ul{
    display: flex;
    list-style: none;
}

header li{
    margin: 0px 45px 0px 0px;
    color: white;
    font-family: 'Barlow', 'sans-serif';
    font-size: 16px;
}

header svg{
    position: absolute;
    top: 4%;
    right: 270%;
}

header button{
    height: 40px;
    width: 100px;
    border: none;
    background-color: white;
    border-radius: 20px;
    font-family: 'Fraunces', 'sans-serif';
    font-weight: bold;
    margin-top: -10px;
}

.inicio h2{
    font-size: 37px;
    font-family: 'Fraunces', 'serif';
    position: absolute;
    top: 143%;
    left: 11.5%;
}

.inicio p{
    font-size: 16px;
    position: absolute;
    top: 162%;
    left: 11.5%;
    color: hsl(213, 9%, 39%);
    font-family: 'Barlow', 'sans-serif';
    line-height: 30px;
}

.inicio h4{
    font-size: 14px;
    position: absolute;
    top: 183%;
    left: 11.5%;
    font-family: 'Fraunces', 'serif';
}

.ovo-gigante{
    position: absolute;
    left: 50%;
    top: 116.3%;
}

.second h2{
    font-size: 37px;
    font-family: 'Fraunces', 'serif';
    position: absolute;
    top: 228%;
    left: 57.5%;
}

.second p{
    font-size: 16px;
    position: absolute;
    top: 247%;
    left: 57.5%;
    color: hsl(213, 9%, 39%);
    font-family: 'Barlow', 'sans-serif';
    line-height: 30px;
}

.second h4{
    font-size: 14px;
    position: absolute;
    top: 268%;
    left: 57.5%;
    font-family: 'Fraunces', 'serif';
}

.copo-gigante{
    position: absolute;
    right: 50%;
    top: 203.3%;
}

.grap h2{
    font-size: 28px;
    font-family: 'Fraunces', 'serif';
    position: absolute;
    top: 348%;
    left: 17%;
    color: hsl(167, 40%, 24%);
}

.photo h2{
    font-size: 28px;
    font-family: 'Fraunces', 'serif';
    position: absolute;
    top: 348%;
    left: 68%;
    color: hsl(198, 62%, 26%);
}

.grap p{
    font-size: 14px;
    position: absolute;
    top: 357%;
    left: 13.7%;
    color: hsla(167, 40%, 24%, 0.708);
    font-family: 'Barlow', 'sans-serif';
    line-height: 25px;
    text-align: center;
}

.photo p{
    font-size: 14px;
    position: absolute;
    top: 357%;
    left: 63.7%;
    color: hsla(198, 62%, 26%, 0.808);
    font-family: 'Barlow', 'sans-serif';
    line-height: 25px;
    text-align: center;
}

.cejera{
    position: absolute;
    right: 50%;
    top: 290.3%;
}

.lajanra{
    position: absolute;
    left: 50%;
    top: 290.3%;
}

.clients h2{
        font-size: 20px;
        font-family: 'Fraunces', 'serif';
        position: absolute;
        top: 400%;
        left: 37%;
        letter-spacing: 6px;
        color: hsl(213, 9%, 39%);
}

.Emily img{
    position: absolute;
    left: 20%;
    top: 413.3%;
    border-radius: 100%;
}

.Emily p{
    position: absolute;
    left: 10.5%;
    top: 430.3%;
    text-align: center;
    font-family: 'Barlow', 'sans-serif';
    line-height: 24px;
    color: hsl(213, 9%, 39%);
}

.Emily h4{
    position: absolute;
    left: 20%;
    top: 449.3%;
    text-align: center;
    font-family: 'Fraunce', 'serif';
    line-height: 24px;
    color: black;
}

.Emily h5{
    position: absolute;
    left: 18%;
    top: 453.7%;
    text-align: center;
    font-family: 'Barlow', 'sans-serif';
    line-height: 24px;
    color: hsla(210, 9%, 39%, 0.801);
}


.Tom img{
    position: absolute;
    left: 48%;
    top: 413.3%;
    border-radius: 100%;
}

.Tom p{
    position: absolute;
    left: 38.5%;
    top: 430.3%;
    text-align: center;
    font-family: 'Barlow', 'sans-serif';
    line-height: 24px;
    color: hsl(213, 9%, 39%);
}

.Tom h4{
    position: absolute;
    left: 47.5%;
    top: 449.3%;
    text-align: center;
    font-family: 'Fraunce', 'serif';
    line-height: 24px;
    color: black;
}

.Tom h5{
    position: absolute;
    left: 45%;
    top: 453.7%;
    text-align: center;
    font-family: 'Barlow', 'sans-serif';
    line-height: 24px;
    color: hsla(210, 9%, 39%, 0.801);
}

.Jen img{
    position: absolute;
    left: 76%;
    top: 413.3%;
    border-radius: 100%;
}

.Jen p{
    position: absolute;
    left: 66.5%;
    top: 430.3%;
    text-align: center;
    font-family: 'Barlow', 'sans-serif';
    line-height: 24px;
    color: hsl(213, 9%, 39%);
}

.Jen h4{
    position: absolute;
    left: 76%;
    top: 449.3%;
    text-align: center;
    font-family: 'Fraunce', 'serif';
    line-height: 24px;
    color: black;
}

.Jen h5{
    position: absolute;
    left: 75%;
    top: 453.7%;
    text-align: center;
    font-family: 'Barlow', 'sans-serif';
    line-height: 24px;
    color: hsla(210, 9%, 39%, 0.804);
}

.leite{
    position: absolute;
    width: 25%;
    top: 475%;
}

.laran{
    position: absolute;
    width: 25%;
    top: 475%;
    left: 25%;
}

.casquinha{
    position: absolute;
    width: 25%;
    top: 475%;
    left: 50%;
}

.cubins{
    position: absolute;
    width: 25%;
    top: 475%;
    left: 75%;
}

footer{
    background-color: hsl(168, 44%, 68%);
    margin-top: 200%;
    height: 20em;
}

.title-footer{
    text-align: center;
    padding-top: 4em;
    font-family: 'Poppins', sans-serif; 
    font-size: 0.9em;
    color: hsl(167, 40%, 24%);
}

.links-footer li a{
    text-align: center;
    text-decoration: none;
    color: hsl(168, 34%, 41%);
}

.links-footer li{
    list-style: none;
    margin-left: 3em;
}

.links-footer{
    display: flex;
    margin-left: 36%;
    margin-top: 2.5em;
    font-family: 'Barlow', sans-serif;
}

.icons{
    text-align: center;
    margin-top: 5em;
    margin-left: -1.5em;
}

.icons img{
    padding-left: 1.5em;
}

